@media (max-width: 768px) {
    .container {
      display: block !important;
      padding: 0px 5px !important;
    }
  
    .about-section {
      padding: 10px !important;
    }

    .skills-section {
      
    }

    .about-section,
    .skills-section {
      margin-bottom: 20px !important; /* Espace entre les sections en version mobile */
    }
  }