body {
  font-family: 'Roboto Flex', sans-serif;
  background: linear-gradient(to right, #e9eff3, #a8a8a8);
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.project {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
}
